.media-article {
  figure {
    img {
      width: 70px;
      height: 70px;
      object-fit: cover;

      @include media-breakpoint-up(md) {
        width: 253px;
        height: 199px;
      }
    }
  }
}
