<app-navbar></app-navbar>

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Navbar example</h1>
    <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will
      remain fixed to the top of your browser’s viewport.</p>
    <a class="btn btn-lg btn-primary" href="/docs/4.5/components/navbar/" role="button">View navbar docs »</a>
  </div>

  <article class="media media-article">
    <figure class="figure mr-3">
      <img class="figure-img rounded"
           alt="salad 6" src="https://loremflickr.com/253/199/salad?lock=9"/>
    </figure>

    <div class="media-body">
      <h4 class="mb-0">This vegan recipe is going to blow your mind</h4>
      <div class="mb-2"><a class="category" href="#">Health</a></div>
      <p class="d-none d-md-block mb-2">When someone mentions barbecue images comes to the mind like cooking at the backyard grill, a social
        gathering...
      </p>
      <div class="date">1 day ago</div>
    </div>
  </article>
</main>
